#questionBox {
  width: 60%;
  border: solid 1px #f2f2f2;
  padding: 20px;
  background-color: #f9f9f9;
  float: left;
}

#question {
  text-align: left;
  font-weight: bold;
}

#questionBox ul li {
  list-style: none;
  float: left;
  width: 50%;
}

#questionBox ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 1px solid #bdbdbd;
  padding: 10px;
  display: block;
}

#questionBox ul li a:hover {
  color: #fff;
  background-color: #000;
}

#timer {
  float: right;
  width: 30%;
  border: solid 1px #eee;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 57px;
  font-weight: bold;
}