a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
    color: #313131;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

#page {
	max-width: 800px;
	margin: 5px auto;
}
#data-area {
	margin: 50px auto;
}
.row {
	margin-bottom: 10px;
}
.row span{
	margin-right: 20px;
	display: inline-block;
}
.row .attendee-id {
	min-width: 40px;
	font-weight: bold;
}
.row .attendee-name,
.row .attendee-position,
.row .attendee-company {
	min-width: 200px;
}

#search-wrapper {
	margin: 20px 0;
}
#search-content{
	margin: 5px;
}
#search-content p {
	margin: 5px 0;
}
#search-content .field-key {
	margin-right: 15px;
	font-weight: bold;
	min-width: 80px;
	display: inline-block;
}
.loading{
	display: none;
}
#btn-submit,
#results{
    display: none;
}

table td{
	padding: 10px
}
div.score{
	font-size: 50px;
	font-weight: bold;
	margin-top: 20px;
}
