<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Underscore Demo</title>
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/jquery-1.12.1.min.js"></script>
	<script src="js/underscore-min.js"></script>
    <script>
        ( function( $ ) {

            $( document ).ready(function($){

                var records = null;

                $('#btn-go').click(function(e){
                    e.preventDefault();
                    display_data();
                });

                var api_url = "http://localhost/underscore-test/data.json";
                $.getJSON( api_url )
                .done(function( data ) {
                    if ( ! data ) {
                        return;
                    }
                    records = data;
                });

                function display_data(){
                    var key = $('#filter-key').val();
                    var markup = '';
                    var companies = _.pick( records, _.identity );
                    companies = _.pluck( companies, key );
                    _.each(companies, function(item){
                        var tpl = _.template('<p><%= item %></p>');
                        var temp = tpl( {"item":item});
                        markup += temp;
                    });
                    $('#data-area').html(markup);
                }

            });

        } )( jQuery );

    </script>
</head>
<body>
	<div id="page">
		<div id="buttons">
            <select id="filter-key">
                <option value="name">Name</option>
                <option value="position">Position</option>
                <option value="company">Company</option>
            </select>
            <a href="#" id="btn-go">GO</a>
        </div><!-- #buttons -->
        <div id="data-area"></div><!-- #data-area -->
    </div><!-- #page -->
</body>
</html>
