<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8" />
	<title>HW - 1</title>
	<script src="js/angular.min.js"></script>
</head>
<body>
    <input type="text" ng-model="full_name" placeholder="Enter full name">
    <p><strong>Welcome, {{full_name}}!</strong></p>

</body>
</html>
