<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>HW - 2</title>
	<script src="js/angular.min.js"></script>
</head>
<body ng-app>
    <form  name="myForm" novalidate="true">

        <input type="email" ng-model="contact_email" placeholder="Enter email" name="contact_email" required><button>GO</button>
        <p ng-show="myForm.contact_email.$invalid">Please enter valid email</p>

    </form>

</body>
</html>
