<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>HW - 3</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="attendeeApp" ng-controller="attendeeController">

    <form id="attendee-form">
        <input type="text" id="attendee-name" placeholder="Name" />
        <input type="text" id="attendee-position" placeholder="Position" />
        <input type="text" id="attendee-company" placeholder="Company" />
        <input type="submit" value="Save" id="btn-save" ng-click="submit_attendee()"/>
    </form><!-- #attendee-form -->

    <table>
        <tr>
         <th>Name</th>
         <th>Position</th>
         <th>Company</th>
     </tr>

     <tr ng-repeat = "att in attendees">
         <td>{{ att.name }}</td>
         <td>{{ att.position }}</td>
         <td>{{ att.company }}</td>
     </tr>
 </table>

    <script src="js/app.js"></script>
</body>
</html>
