<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>HW - 5</title>
	<script src="js/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <button ng-mouseover="change_message()">Button</button>
    <p><strong>{{message}}</strong></p>
    <script>
    var app = angular.module('myApp', []);
    app.controller('myController', function($scope) {
        $scope.change_message = function(){
            $scope.message = 'You hovered over the button.';
        }
    });
    </script>

</body>
</html>
